/* small screen */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 767px) {
  .container {
    width: 350px;
  }
}
/* small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screen  */
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
/* large screen  */
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}
